<form (ngSubmit)="onSubmit(signupForm)" novalidate #signupForm="ngForm">
	<fieldset>
    	<legend>Sign Up Form</legend>
		<div class="form-group">
			<label>Email</label>
			<input type="email" class="form-control" [(ngModel)]="email" name="email" 
				required pattern=".+@.+" #inputEmail="ngModel">
			<p *ngIf="inputEmail.touched && inputEmail.invalid && inputEmail.errors.required" class="alert alert-danger">Please enter email</p>
			<p *ngIf="inputEmail.touched && inputEmail.invalid && inputEmail.errors.pattern" class="alert alert-danger">Please enter email with pattern {{inputEmail.errors.pattern.requiredPattern}}</p>
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" [(ngModel)]="password" name="password" 
				required #inputPassword="ngModel">
			<p *ngIf="inputPassword.dirty && inputPassword.invalid && inputPassword.errors.required" class="alert alert-danger">Password is required</p>
		</div>
		<button type="submit" [disabled]="signupForm.invalid" class="btn btn-primary">Sign Up</button>
		<button type="reset" (click)="handleFormReset(signupForm)"class="btn">Reset</button>
	</fieldset>
</form>
